.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 30px;
}

.col {
  width: (100%/5);
  padding: 0 15px;
}

@include media('<desktop') {
  .col {
    width: (100%/4);
  }
}

@include media('<tablet') {
  .col {
    width: (100%/3);
  }
}

@include media('<phone') {
  .col {
    width: (100%/2);
  }
}

@include media('<xs-phone') {
  .col {
    width: 100%;
  }
}